.label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.statlist {
    display: flex;
    list-style: none;
    padding: 0;
}

.stats {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    background-color: whitesmoke;
    padding: 20px;
}

.item {
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 30px;
}
.title {
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#f50303, #724aa7,#4fa356, #ece6e6, #e4e711, #c00de4 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}